name: flutter_branch_sdk
description: Flutter Plugin for create deep link using Brach Metrics SDK (https://branch.io). This plugin provides a cross-platform (iOS, Android).
version: 0.1.2
homepage: https://github.com/RodrigoSMarques/flutter_branch_sdk

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: br.com.rsmarques.flutter_branch_sdk
        pluginClass: FlutterBranchSdkPlugin
      ios:
        pluginClass: FlutterBranchSdkPlugin

environment:
  sdk: ">=2.1.0 <3.0.0"
  # Flutter versions prior to 1.10 did not support the flutter.plugin.platforms map.
  flutter: ">=1.10.0 <2.0.0"