<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
   <application
        android:label="Flutter Branch SDK Example"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="flutterbranchsdk" android:host="open"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="flutterbranchsdk-alternate.app.link" />
                <data android:scheme="https" android:host="flutterbranchsdk.app.link" />
                <data android:scheme="https" android:host="flutterbranchsdk-alternate.test-app.link" />
                <data android:scheme="https" android:host="flutterbranchsdk.test-app.link" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
       <!-- Branch init -->
       <meta-data
           android:name="io.branch.sdk.BranchKey"
           android:value="key_live_bkJRqpb15wLqUAgsDVNUIobjyviWi6Wx" />
       <!-- For your test app, if you have one; Again, use your actual test Branch key -->
       <meta-data
           android:name="io.branch.sdk.BranchKey.test"
           android:value="key_test_ipQTteg11ENANDeCzSXgqdgfuycWoXYH" />
       <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
    </application>
</manifest>
