<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ1JZnM5VTvTvZq9H5qfxn-sLOiMhOHG8</string>
	<key>GCM_SENDER_ID</key>
	<string>20797875340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rsmarques.flutter-branch-sdk-example</string>
	<key>PROJECT_ID</key>
	<string>branch-sdk-test</string>
	<key>STORAGE_BUCKET</key>
	<string>branch-sdk-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20797875340:ios:89a63503d885e3cf9747a9</string>
</dict>
</plist>