<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="br.com.rsmarques.flutter_branch_sdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
    <receiver android:name="io.branch.receivers.SharingBroadcastReceiver" android:exported="true">
        <intent-filter>
            <action android:name="EXTRA_CHOSEN_COMPONENT" />
        </intent-filter>
    </receiver>
</application>
</manifest>
